page-phase1 {

  .home {
    background: rgba(2, 1, 2, 0.28);
  }

  ion-title {
    text-align: center;
  }

  ion-card {
    //background-color: #cccccc;
    //color: #cccccc;
  }

  ion-card-content {
    border-top: 1px solid rgba(2, 1, 2, 0.28);
  }
}
